.backToMain {
    height: 100px;
    background-color: #0c9db3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.back {

    border: 2px solid white;
    text-decoration: none;
    color: white;
    height: 66px;
    padding: 13px 71px;
    margin: 20px;
    width: 30%;
    font-size: 30px;
    border-radius: 10px;




}