.mentor {
    /* height: 809px; */
    background-color: white;
    height: 605px;

}

.mentorHead {
    margin: 20px;
    padding: 20px;
    text-align: center;

}

.mentor .mentorQuote p {
    text-align: justify;
    color: #0c9db3;
    font-size: larger;
    line-height: 40px;
    margin: 20px;
    padding: 20px;
}

.mentorComma {
    position: relative;

}

#mentorLeftComma {
    top: 64px;
    left: 13px;
}

#mentorRightComma {
    top: -82px;
    right: -1200px;
}